@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
*::-webkit-scrollbar{
    display: none;
}

.active{
    background-color: #2c2c2c;
    color: white;
}



.close-button-container:hover .close-button{
    fill: rgb(177, 65, 65);
    transition:all 400ms
}

.close-button{
    fill: grey
}
 
/*  note section on practice page */


.note-box {
  width: 200px;
  height: 26px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #303030;
  border-bottom: 2px solid #9a9a9a;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #25252583;
  color: rgb(77, 77, 77);
  transition: all 0.3s ease;
}

.note-box::placeholder {
  color: #575757;
}

.note-box:hover {
  background-color: #313131;
}
u
.note-box:active,
.note-box:focus {
  background-color: #1e1f2052;
  border: 1px solid #2d2d2d;
  border-bottom: 2px solid #a7bbc5;
  color: aliceblue;
}


/* leetcode link underline effect */
.leetcode_link {
  font-family: inherit;
  cursor: pointer;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.leetcode_link:focus,
.leetcode_link:hover {
  color: #fff;
}

.leetcode_link:focus:after,
.leetcode_link:hover:after {
  width: 100%;
  left: 0%;
}

.leetcode_link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(107 114 128);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.bubbleGum{
  background-color: pink;
}