@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
*::-webkit-scrollbar{
    display: none;
}

.active{
    background-color: #2c2c2c;
    color: white;
}



.close-button-container:hover .close-button{
    fill: rgb(177, 65, 65);
    transition:all 400ms
}

.close-button{
    fill: grey
}

